.navber_main{
    position: fixed !important;
    z-index: 999;
    background-color: #222529;
    width: 100%;
    padding-left:25px !important;
    padding-right: 25px !important;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
}
.navber_main img{
    max-width:90%;
}
.navber_main .nav-link{
    color:#c4cfde;
    transition: var(--transition);
    font-size: 14px;
    font-weight:400;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    margin: 0 10px;
    font-weight: 700;
}
.navber_main .navbar-nav{
    align-items: center !important;
}
.navber_main .nav_button{
    border-radius: 6px;
    background: linear-gradient(145deg, #1e2024, #23272b);
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    transition:0.5s;
    position: relative;
    z-index: 2;
    font-size: 14px;
    font-weight: 400;
    border: 0 none;
    color: #ff014f;
    padding: 12px 30px;
    font-family: "Poppins", sans-serif;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
.navber_main .nav_button:hover{
    transform: translateY(-5px);
    color: #ff014f;
    background: linear-gradient(to right bottom, #212428, #16181c);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.is-active{
    color: #ff014f !important;
    font-weight: 700 !important;
    position: relative;
}

.nav-link:hover{
    color: #ff014f !important;
}
.offceanver_tile p{
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
.offcanvas-header .btn-close{
    margin-bottom: 84px !important;
    margin-right: 10px;
    background-color: red;
    height: 28px;
    width: 48px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: 1;
}
.offcanvas.show:not(.hiding), .offcanvas.showing {
    transform: none;
    transition: 0.5s;
    background: #191b1e;
    color: white;
}
.offcanvas-body .btn-primary{
    border-radius: 6px !important;
    background: linear-gradient(145deg, #1e2024, #23272b) !important;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e !important;
    transition:0.5s !important;
    position: relative !important;
    z-index: 2;
    font-size: 14px;
    font-weight: 400;
    border: 0 none;
    color: #ff014f !important;
    padding: 12px 30px;
    font-family: "Poppins", sans-serif;
    transition: 0.5s;
    -webkit-transition:0.5s !important;
    -moz-transition:0.5s !important;
    -ms-transition:0.5s !important;
    -o-transition:0.5s !important;
    -webkit-border-radius: 6px !important;
    -moz-border-radius: 6px !important;
    -ms-border-radius: 6px !important;
    -o-border-radius: 6px !important;
}
.offceanver_tile p{
    margin-bottom: 0px !important;
    font-size: 16px;
}
.offcanvas-header{
    padding-bottom: 0px !important;
}
.offcanvas-body{
    padding-top: 0px !important;
    text-align: center;
}
@media (max-width:575px){
    .offcanvas-header .btn-close{
        height: 17px !important;
        width: 29px !important;
    }
    .offcanvas.show:not(.hiding), .offcanvas.showing {
        width: 100%;
    }
}
@media (max-width:767px){
    body{
        overflow-x: hidden !important;
    }
    .navbar-toggler{
        background-color: white !important;
    }

    .offcanvas-header .btn-close{
        height: 28px;
        width: 28px;
 
    }
}
@media (min-width:776px) and (max-width:991px){
    body{
        overflow-x: hidden !important;
    }
    .navbar-toggler{
        background-color: white !important;
    }
}
@media (min-width:991px) and (max-width:1199px){
    body{
        overflow-x: hidden !important;
    }
    .navbar-toggler{
        background-color: white !important;
    }
}
@media (min-width:1200px) and (max-width:1399px){
    body{
        overflow-x: hidden !important;
    }
}

